body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  display: none;
}
.gridContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 30px 30px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  gap: 10px;
  background-color: yellowgreen;
  padding: 10px;
}

.gridContainer > div {
  background-color: white;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.homeButton {
  align-self: center;
  justify-self: baseline;
  cursor: pointer;
  background-color: #9ea0a4;
  margin: 20px;
  margin-bottom: 80px;
}
.homeButton:hover {
  background-color: darkgreen;
}

.brandsig {
  display: flex;
}

.brandsig-content-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 60px;
  background: #464545;
}

.logo p {
  color: #b1ff2e;
}

.brand p {
  font-family: "Gruppo", sans-serif;
  color: #b1ff2e;
  font-size: large;
  align-self: center;
  margin-bottom: 20px;
}

.sig p {
  color: white;
  padding-right: 7px;
}

.brandsig-content-right {
  position: fixed;
  bottom: 0%;
  right: 0%;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 10px;
  float: right;
}

.icon-style {
  height: 30px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  border: 0px;
}

.icon-style:hover {
  background: #b1ff2e;
  padding: 2px;
}

@media (max-width: 500px) {
  .input {
    display: block;
  }
}
