nav {
  display: flex;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  background: #464545;
  height: 60px;
  border: solid #b1ff2e;
  border-radius: 5px;
  justify-content: space-around;
}
nav a {
  color: #b1ff2e;
  font-size: larger;
  padding-top: 15px;
}
nav a:hover {
  padding-top: 10px;
  background-color: #b1ff2e;
  color: #464545;
  font-size: xx-large;
  border-radius: 5px;
}
